<div class="row">
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://myanimelist.cdn-dena.com/images/anime/9/9453.jpg" alt="death note">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing  quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <div class="clearfix">
          <div class="price pull-left">15$</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://myanimelist.cdn-dena.com/images/anime/9/9453.jpg" alt="death note">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing  quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <div class="clearfix">
          <div class="price pull-left">15$</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://myanimelist.cdn-dena.com/images/anime/9/9453.jpg" alt="death note">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing  quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <div class="clearfix">
          <div class="price pull-left">15$</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://myanimelist.cdn-dena.com/images/anime/9/9453.jpg" alt="death note">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing  quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <div class="clearfix">
          <div class="price pull-left">15$</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://myanimelist.cdn-dena.com/images/anime/9/9453.jpg" alt="death note">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing  quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <div class="clearfix">
          <div class="price pull-left">15$</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://myanimelist.cdn-dena.com/images/anime/9/9453.jpg" alt="death note">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing  quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <div class="clearfix">
          <div class="price pull-left">15$</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
